#professor-popup {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.rating {
  margin-top: 7px;
  font-size: 12px;
  word-wrap: break-word; /* For IE */
  white-space: normal;   /* For other browsers */
  overflow-wrap: break-word; /* For modern browsers */
}
